<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Signup</h1>
                    <h6>Register Yourself by filling below details!</h6>
                </div>
                 <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="form-group">
                        <label for="inputFirstName" class="form-label">First Name</label>
                        <input formControlName="FirstName" type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                        <span class="text-danger" *ngIf="signupForm.controls['FirstName'].dirty && signupForm.hasError('requird','FirstName')" >*First Name is requird</span>
                      </div>

                      <div class="mb-3">
                        <label for="inputLastName" class="form-label">Last Name</label>
                        <input formControlName="LastName" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                        <span class="text-danger" *ngIf="signupForm.controls['LastName'].dirty && signupForm.hasError('requird','LastName')" >*last Name is requird</span>
                      </div>

                     <div class="mb-3">
                       <label for="exampleInputEmail" class="form-label">Email address</label>
                       <input type="email" formControlName="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="email">
                       <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
                       <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('requird','email')" >*Email Id is requird</span>
                     </div>
                     <div class="mb-3">
                       <label for="inputPassword" class="form-label">Password</label>
                       <input type="password" formControlName="password"  class="form-control" id="inputPassword" placeholder="password">
                       <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('requird','password')" >*password is requird</span>
                     </div>

                     <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary mb-2">Signup</button>
                   </form>
                   <a style="color: #fff; margin-top:10px" routerLink="/signup">Already registered? Click to signup!!</a>
            </div>
        </div>
    </div> 
 </div>